<h2 class="list-title">Celebrities</h2>
<br />
<hr />

<div class="container ">
  <div class="row">
    {{#each celebrities}}
      <div class="col-lg-3 col-md-6 celebrity-list">
        <div class="card clbr" style="width: 18rem;">
          <div class="card-body">
            <h3 class="card-title"><b>{{this.name}}</b></h3>
            <h6 class="card-subtitle mb-2 text-muted">{{this.occupation}}</h6>
            <p class="card-text">{{this.catchPhrase}}</p>
            {{! <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a> }}
          </div>
        </div>
      </div>
    {{/each}}

  </div>
  <div class="row back-to-home-btn">
    <div class="col-lg-2">
      <br />
      <br />
      <a href="/">back to homepage</a>
    </div>
  </div>
</div>